In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data_file = "Resources/Seasons_Stats.csv"
stats_pd = pd.read_csv(data_file)
stats_pd.head(5)

,Unnamed: 0,Year,Player,Pos,Age,Tm,G,GS,MP,PER,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,0,1950.0,Curly Armstrong,G-F,31.0,FTW,63.0,NaN,NaN,NaN,...,0.705,NaN,NaN,NaN,176.0,NaN,NaN,NaN,217.0,458.0
1,1,1950.0,Cliff Barker,SG,29.0,INO,49.0,NaN,NaN,NaN,...,0.708,NaN,NaN,NaN,109.0,NaN,NaN,NaN,99.0,279.0
2,2,1950.0,Leo Barnhorst,SF,25.0,CHS,67.0,NaN,NaN,NaN,...,0.698,NaN,NaN,NaN,140.0,NaN,NaN,NaN,192.0,438.0
3,3,1950.0,Ed Bartels,F,24.0,TOT,15.0,NaN,NaN,NaN,...,0.559,NaN,NaN,NaN,20.0,NaN,NaN,NaN,29.0,63.0
4,4,1950.0,Ed Bartels,F,24.0,DNN,13.0,NaN,NaN,NaN,...,0.548,NaN,NaN,NaN,20.0,NaN,NaN,NaN,27.0,59.0

In [3]:
data_file2 = "Resources/Players.csv"
players_pd = pd.read_csv(data_file2)
players_pd.head(2)

,Unnamed: 0,Player,height,weight,collage,born,birth_city,birth_state
0,0,Curly Armstrong,180.0,77.0,Indiana University,1918.0,NaN,NaN
1,1,Cliff Barker,188.0,83.0,University of Kentucky,1921.0,Yorktown,Indiana

In [4]:
join = pd.merge(stats_pd, players_pd, on="Player")
join.head(2)

,Unnamed: 0_x,Year,Player,Pos,Age,Tm,G,GS,MP,PER,...,TOV,PF,PTS,Unnamed: 0_y,height,weight,collage,born,birth_city,birth_state
0,0,1950.0,Curly Armstrong,G-F,31.0,FTW,63.0,NaN,NaN,NaN,...,NaN,217.0,458.0,0,180.0,77.0,Indiana University,1918.0,NaN,NaN
1,314,1951.0,Curly Armstrong,G-F,32.0,FTW,38.0,NaN,NaN,NaN,...,NaN,97.0,202.0,0,180.0,77.0,Indiana University,1918.0,NaN,NaN

In [ ]:
join.columns

In [6]:
join_df = join[["Year","Player", "Pos", "Age", "height", "weight", "Tm", "G", "FG", "FGA", "FG%", "3P", "3PA", "3P%", "2P", \
                "2PA", "2P%", "eFG%", "FT", "FTA", "FT%", "TRB", "PF", "PTS", "birth_state"]]
join_df.head(5)

,Year,Player,Pos,Age,height,weight,Tm,G,FG,FGA,...,2PA,2P%,eFG%,FT,FTA,FT%,TRB,PF,PTS,birth_state
0,1950.0,Curly Armstrong,G-F,31.0,180.0,77.0,FTW,63.0,144.0,516.0,...,516.0,0.279,0.279,170.0,241.0,0.705,NaN,217.0,458.0,NaN
1,1951.0,Curly Armstrong,G-F,32.0,180.0,77.0,FTW,38.0,72.0,232.0,...,232.0,0.310,0.310,58.0,90.0,0.644,89.0,97.0,202.0,NaN
2,1950.0,Cliff Barker,SG,29.0,188.0,83.0,INO,49.0,102.0,274.0,...,274.0,0.372,0.372,75.0,106.0,0.708,NaN,99.0,279.0,Indiana
3,1951.0,Cliff Barker,SG,30.0,188.0,83.0,INO,56.0,51.0,202.0,...,202.0,0.252,0.252,50.0,77.0,0.649,100.0,98.0,152.0,Indiana
4,1952.0,Cliff Barker,SG,31.0,188.0,83.0,INO,44.0,48.0,161.0,...,161.0,0.298,0.298,30.0,51.0,0.588,81.0,56.0,126.0,Indiana

In [7]:
yearly_df = join_df.groupby("Year")

yearly_mean = yearly_df[["Age", "height", "weight", "G", "PTS", "3P", "2P", "FT", "3P%", "2P%", "FT%", "eFG%", "PF"]].mean()
yearly_mean.head(35)

,Age,height,weight,G,PTS,3P,2P,FT,3P%,2P%,FT%,eFG%,PF
Year,,,,,,,,,,,,,
1950.0,26.131410,191.926282,86.884615,42.884615,331.929487,NaN,116.782051,98.365385,NaN,0.318109,0.683685,0.318109,114.990385
1951.0,26.344828,193.224138,88.068966,43.890805,375.505747,NaN,133.419540,108.666667,NaN,0.332741,0.701023,0.332741,123.494253
1952.0,26.130769,193.292308,88.292308,49.415385,446.892308,NaN,157.892308,131.107692,NaN,0.344500,0.691977,0.344500,144.523077
1953.0,26.018868,192.450000,88.012500,45.725000,402.225000,NaN,138.637500,124.950000,NaN,0.336775,0.701811,0.336775,142.218750
1954.0,25.769231,194.229008,88.961832,49.862595,421.770992,NaN,148.778626,124.213740,NaN,0.343492,0.678472,0.343492,136.015267
1955.0,25.953704,194.146789,88.559633,51.091743,506.908257,NaN,181.247706,144.412844,NaN,0.346761,0.699160,0.346761,135.770642
1956.0,25.813725,195.660377,90.000000,56.405660,563.849057,NaN,201.952830,159.943396,NaN,0.367132,0.728755,0.367132,152.377358
1957.0,26.018868,195.644860,90.373832,54.186916,557.514019,NaN,201.457944,154.598131,NaN,0.358234,0.720629,0.358234,140.738318
1958.0,26.126126,196.342342,90.801802,52.333333,568.405405,NaN,208.162162,152.081081,NaN,0.352108,0.711898,0.352108,138.072072
1959.0,25.981818,195.181818,90.427273,55.318182,609.372727,NaN,227.445455,154.481818,NaN,0.389818,0.730140,0.389818,146.190909
1960.0,26.051282,196.119658,91.102564,53.264957,627.581197,NaN,242.418803,142.743590,NaN,0.383752,0.691719,0.383752,142.384615
1961.0,26.096154,196.817308,91.673077,60.028846,734.096154,NaN,282.125000,169.846154,NaN,0.386413,0.698835,0.386413,168.355769
1962.0,25.600000,195.672000,90.808000,57.720000,709.216000,NaN,274.704000,159.808000,NaN,0.394296,0.689098,0.394296,156.256000
1963.0,25.909774,196.984962,91.781955,55.721805,655.142857,NaN,254.248120,146.646617,NaN,0.416602,0.677394,0.416602,149.872180
1964.0,25.948148,196.740741,91.977778,55.733333,646.311111,NaN,249.422222,147.466667,NaN,0.409607,0.683687,0.409607,156.155556
1965.0,25.696970,197.484848,93.500000,55.780303,642.462121,NaN,247.196970,148.068182,NaN,0.400667,0.706729,0.400667,148.757576
1966.0,26.118519,196.807407,92.859259,56.629630,676.911111,NaN,260.014815,156.881481,NaN,0.409948,0.690038,0.409948,153.948148
1967.0,25.849624,198.097744,93.879699,61.030075,735.458647,NaN,284.759398,165.939850,NaN,0.419519,0.703053,0.419519,165.624060
1968.0,26.000000,197.372881,93.361582,58.361582,698.248588,NaN,269.028249,160.192090,NaN,0.419740,0.692896,0.419740,159.090395
1969.0,26.097087,198.412621,94.310680,57.922330,692.781553,NaN,269.189320,154.402913,NaN,0.416549,0.675407,0.416549,159.262136
1970.0,26.442786,197.726368,92.895522,59.144279,712.736318,NaN,278.925373,154.885572,NaN,0.445483,0.734873,0.445483,155.358209
1971.0,26.130612,198.036735,93.232653,58.069388,659.008163,NaN,258.142857,142.722449,NaN,0.422115,0.710546,0.422115,145.391837
1972.0,26.226415,197.913208,92.754717,55.864151,634.543396,NaN,249.781132,134.981132,NaN,0.424443,0.709394,0.424443,138.558491
1973.0,26.312268,198.420074,93.342007,55.821561,604.669145,NaN,248.330855,108.007435,NaN,0.424633,0.726900,0.424633,132.769517
1974.0,26.359184,198.122449,92.228571,57.534694,624.587755,NaN,254.604082,115.379592,NaN,0.439426,0.726588,0.439426,142.085714
1975.0,26.500000,198.300725,92.025362,57.239130,588.891304,NaN,238.855072,111.181159,NaN,0.437040,0.734519,0.437040,141.507246
1976.0,26.375912,198.631387,92.459854,57.791971,588.492701,NaN,237.124088,114.244526,NaN,0.435891,0.726138,0.435891,142.072993
1977.0,25.915966,198.240896,91.683473,56.299720,585.750700,NaN,235.291317,115.168067,NaN,0.439520,0.730918,0.439520,139.414566
1978.0,25.949198,198.288770,91.628342,54.243316,587.997326,NaN,235.815508,116.366310,NaN,0.439560,0.730989,0.439560,137.868984
1979.0,25.822674,198.706395,91.671512,57.252907,628.078488,NaN,253.613372,120.851744,NaN,0.460763,0.737087,0.460763,144.247093
1980.0,26.204482,198.946779,92.190476,55.428571,612.425770,4.372549,240.204482,118.899160,0.198000,0.462730,0.740133,0.461376,137.299720
1981.0,25.840220,198.911846,91.680441,55.440771,592.977961,2.851240,233.005510,118.413223,0.153069,0.457551,0.722497,0.455364,138.942149
1982.0,25.991957,199.501340,92.252011,56.249330,591.873995,3.233244,233.233244,115.707775,0.171106,0.475893,0.710683,0.473209,143.718499
1983.0,26.173913,200.424552,93.074169,55.043478,568.639386,2.790281,225.161125,109.946292,0.138080,0.466417,0.709817,0.463292,138.074169
1984.0,26.145773,199.725948,92.699708,58.571429,616.714286,3.320700,240.206997,126.338192,0.176390,0.476789,0.727153,0.473977,144.877551

In [ ]:
yearly_mean.tail(33)

In [ ]:
x_axis = np.arange(len())
plt.plot(x_axis, )