In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data_file = "Resources/Seasons_Stats.csv"
stats_pd = pd.read_csv(data_file)
stats_pd.head(2)

,Unnamed: 0,Year,Player,Pos,Age,Tm,G,GS,MP,PER,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,0,1950.0,Curly Armstrong,G-F,31.0,FTW,63.0,NaN,NaN,NaN,...,0.705,NaN,NaN,NaN,176.0,NaN,NaN,NaN,217.0,458.0
1,1,1950.0,Cliff Barker,SG,29.0,INO,49.0,NaN,NaN,NaN,...,0.708,NaN,NaN,NaN,109.0,NaN,NaN,NaN,99.0,279.0

In [3]:
data_file2 = "Resources/Players.csv"
players_pd = pd.read_csv(data_file2)
players_pd.head(2)

,Unnamed: 0,Player,height,weight,collage,born,birth_city,birth_state
0,0,Curly Armstrong,180.0,77.0,Indiana University,1918.0,NaN,NaN
1,1,Cliff Barker,188.0,83.0,University of Kentucky,1921.0,Yorktown,Indiana

In [4]:
join = pd.merge(stats_pd, players_pd, on="Player")
join.tail(2)

,Unnamed: 0_x,Year,Player,Pos,Age,Tm,G,GS,MP,PER,...,TOV,PF,PTS,Unnamed: 0_y,height,weight,collage,born,birth_city,birth_state
24689,24689,2017.0,Paul Zipser,SF,22.0,CHI,44.0,18.0,843.0,6.9,...,40.0,78.0,240.0,3920,203.0,97.0,NaN,1994.0,Heidelberg,Germany
24690,24690,2017.0,Ivica Zubac,C,19.0,LAL,38.0,11.0,609.0,17.0,...,30.0,66.0,284.0,3921,216.0,120.0,NaN,1997.0,Mostar,Bosnia and Herzegovina

In [ ]:
#join.columns

In [5]:
join_df = join[["Year","Player", "Pos", "Age", "height", "weight", "Tm", "G", "FG", "FGA", "FG%", "3P", "3PA", "3P%", "2P", \
                "2PA", "2P%", "eFG%", "FT", "FTA", "FT%", "TRB", "PF", "PTS", "MP", "birth_state"]]
join_df.head()

,Year,Player,Pos,Age,height,weight,Tm,G,FG,FGA,...,2P%,eFG%,FT,FTA,FT%,TRB,PF,PTS,MP,birth_state
0,1950.0,Curly Armstrong,G-F,31.0,180.0,77.0,FTW,63.0,144.0,516.0,...,0.279,0.279,170.0,241.0,0.705,NaN,217.0,458.0,NaN,NaN
1,1951.0,Curly Armstrong,G-F,32.0,180.0,77.0,FTW,38.0,72.0,232.0,...,0.310,0.310,58.0,90.0,0.644,89.0,97.0,202.0,NaN,NaN
2,1950.0,Cliff Barker,SG,29.0,188.0,83.0,INO,49.0,102.0,274.0,...,0.372,0.372,75.0,106.0,0.708,NaN,99.0,279.0,NaN,Indiana
3,1951.0,Cliff Barker,SG,30.0,188.0,83.0,INO,56.0,51.0,202.0,...,0.252,0.252,50.0,77.0,0.649,100.0,98.0,152.0,NaN,Indiana
4,1952.0,Cliff Barker,SG,31.0,188.0,83.0,INO,44.0,48.0,161.0,...,0.298,0.298,30.0,51.0,0.588,81.0,56.0,126.0,494.0,Indiana

In [6]:
position_df = join_df
position_df.head(2)

,Year,Player,Pos,Age,height,weight,Tm,G,FG,FGA,...,2P%,eFG%,FT,FTA,FT%,TRB,PF,PTS,MP,birth_state
0,1950.0,Curly Armstrong,G-F,31.0,180.0,77.0,FTW,63.0,144.0,516.0,...,0.279,0.279,170.0,241.0,0.705,NaN,217.0,458.0,NaN,NaN
1,1951.0,Curly Armstrong,G-F,32.0,180.0,77.0,FTW,38.0,72.0,232.0,...,0.310,0.310,58.0,90.0,0.644,89.0,97.0,202.0,NaN,NaN

In [7]:
position = position_df["Pos"]

In [8]:
position_df["Position"] = position

C:\Users\airma\Miniconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [9]:
position_df.head()

,Year,Player,Pos,Age,height,weight,Tm,G,FG,FGA,...,eFG%,FT,FTA,FT%,TRB,PF,PTS,MP,birth_state,Position
0,1950.0,Curly Armstrong,G-F,31.0,180.0,77.0,FTW,63.0,144.0,516.0,...,0.279,170.0,241.0,0.705,NaN,217.0,458.0,NaN,NaN,G-F
1,1951.0,Curly Armstrong,G-F,32.0,180.0,77.0,FTW,38.0,72.0,232.0,...,0.310,58.0,90.0,0.644,89.0,97.0,202.0,NaN,NaN,G-F
2,1950.0,Cliff Barker,SG,29.0,188.0,83.0,INO,49.0,102.0,274.0,...,0.372,75.0,106.0,0.708,NaN,99.0,279.0,NaN,Indiana,SG
3,1951.0,Cliff Barker,SG,30.0,188.0,83.0,INO,56.0,51.0,202.0,...,0.252,50.0,77.0,0.649,100.0,98.0,152.0,NaN,Indiana,SG
4,1952.0,Cliff Barker,SG,31.0,188.0,83.0,INO,44.0,48.0,161.0,...,0.298,30.0,51.0,0.588,81.0,56.0,126.0,494.0,Indiana,SG

In [10]:
position_df['Position'] = position_df['Position'].replace({'G-F': 'G', 'SG': 'G', 'SF':'F', 'F-G':'F', 'F-C': 'F', \
                                                          'PG':'G', 'PF':'F', 'C-F':'C', 'SF-SG':'F', 'PF-C':'F', \
                                                          'C-PF':'C', 'SG-SF':'G', 'PF-SF':'F', 'SF-PF':'F', \
                                                          'SG-PG':'G', 'SF-PG':'F', 'C-SF':'C', 'SG-PF':'G', \
                                                           'PG-SG':'G', 'PG-SF':'G'})

C:\Users\airma\Miniconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [11]:
position_df["Position"].value_counts()

F    10033
G     9762
C     4829
Name: Position, dtype: int64

In [ ]:
position_df.columns

In [12]:
position_df = position_df[["Position", "Year", "Player", "Pos", "Age", "height", "weight", "G", "MP", "FG",  "FGA", "FG%",\
                          "PTS", "3P", "3PA", "3P%", "2P", "2PA", "2P%", "eFG%", "FT", "FTA", "FT%", "TRB", "PF"]]
position_df.head()

,Position,Year,Player,Pos,Age,height,weight,G,MP,FG,...,3P%,2P,2PA,2P%,eFG%,FT,FTA,FT%,TRB,PF
0,G,1950.0,Curly Armstrong,G-F,31.0,180.0,77.0,63.0,NaN,144.0,...,NaN,144.0,516.0,0.279,0.279,170.0,241.0,0.705,NaN,217.0
1,G,1951.0,Curly Armstrong,G-F,32.0,180.0,77.0,38.0,NaN,72.0,...,NaN,72.0,232.0,0.310,0.310,58.0,90.0,0.644,89.0,97.0
2,G,1950.0,Cliff Barker,SG,29.0,188.0,83.0,49.0,NaN,102.0,...,NaN,102.0,274.0,0.372,0.372,75.0,106.0,0.708,NaN,99.0
3,G,1951.0,Cliff Barker,SG,30.0,188.0,83.0,56.0,NaN,51.0,...,NaN,51.0,202.0,0.252,0.252,50.0,77.0,0.649,100.0,98.0
4,G,1952.0,Cliff Barker,SG,31.0,188.0,83.0,44.0,494.0,48.0,...,NaN,48.0,161.0,0.298,0.298,30.0,51.0,0.588,81.0,56.0

In [23]:
position_yr = position_df.groupby(["Position", "Year"])
position_yr.mean().head()

                       Age      height      weight          G           MP  \
Position Year
C        1950.0  26.294118  203.725490   98.627451  42.823529          NaN
         1951.0  26.483871  205.387097  100.193548  43.838710          NaN
         1952.0  25.428571  204.761905   98.190476  49.523810  1401.190476
         1953.0  25.880000  203.840000   98.880000  49.480000  1435.480000
         1954.0  25.105263  205.789474  100.421053  53.842105  1564.052632

                         FG         FGA       FG%         PTS  3P  ...  3P%  \
Position Year                                                      ...
C        1950.0  127.117647  358.235294  0.319706  372.372549 NaN  ...  NaN
         1951.0  163.516129  433.677419  0.332452  466.774194 NaN  ...  NaN
         1952.0  190.238095  495.142857  0.364857  549.428571 NaN  ...  NaN
         1953.0  180.640000  478.800000  0.319200  536.520000 NaN  ...  NaN
         1954.0  231.210526  580.368421  0.351105  681.526316 NaN  ...  NaN

                         2P         2PA       2P%      eFG%          FT  \
Position Year
C        1950.0  127.117647  358.235294  0.319706  0.319706  118.137255
         1951.0  163.516129  433.677419  0.332452  0.332452  139.741935
         1952.0  190.238095  495.142857  0.364857  0.364857  168.952381
         1953.0  180.640000  478.800000  0.319200  0.319200  175.240000
         1954.0  231.210526  580.368421  0.351105  0.351105  219.105263

                        FTA       FT%         TRB          PF
Position Year
C        1950.0  167.921569  0.661146         NaN  134.372549
         1951.0  189.451613  0.712871  302.000000  155.290323
         1952.0  231.142857  0.684048  398.000000  157.666667
         1953.0  246.240000  0.688840  400.760000  163.600000
         1954.0  302.368421  0.697500  482.789474  165.894737

[5 rows x 21 columns]

In [21]:
position_points_yr_df = pd.DataFrame(position_yr["PTS"].mean())
position_points_yr_df.head()

                        PTS
Position Year
C        1950.0  372.372549
         1951.0  466.774194
         1952.0  549.428571
         1953.0  536.520000
         1954.0  681.526316

In [22]:
position_height_yr_df = pd.DataFrame(position_yr["height"].mean())
position_height_yr_df.head()

                     height
Position Year
C        1950.0  203.725490
         1951.0  205.387097
         1952.0  204.761905
         1953.0  203.840000
         1954.0  205.789474

In [24]:
position_min_yr_df = pd.DataFrame(position_yr["MP"].mean())
position_min_yr_df.head()

                          MP
Position Year
C        1950.0          NaN
         1951.0          NaN
         1952.0  1401.190476
         1953.0  1435.480000
         1954.0  1564.052632

In [ ]:
year_v = []
height_v = []
weight_v = []
G_v = []
PTS_v = []
P2_v = []
P3_v = []
FT_v = []
P2p_v = []
P3p_v = []
FTp_v = []
eFGp_v = []
PF_v = []
MP_v = []

for i in range(len(yearly_mean)):
    year_n = yearly_mean["Year"][i]
    height_n = yearly_mean["height"][i]
    weight_n = yearly_mean["weight"][i]
    G_n = yearly_mean["G"][i]
    PTS_n = yearly_mean["PTS"][i]
    P2_n = yearly_mean["2P"][i]
    P3_n = yearly_mean["3P"][i]
    FT_n = yearly_mean["FT"][i]
    P2p_n = yearly_mean["2P%"][i]
    P3p_n = yearly_mean["3P%"][i]
    FTp_n = yearly_mean["FT%"][i]
    eFGp_n = yearly_mean["eFG%"][i]
    PF_n = yearly_mean["PF"][i]
    MP_n = yearly_mean["MP"][i]
    
    year_v.append(year_n)
    height_v.append(height_n)
    weight_v.append(weight_n)
    G_v.append(G_n)
    PTS_v.append(PTS_n)
    P2_v.append(P2_n)
    P3_v.append(P3_n)
    FT_v.append(FT_n)
    P2p_v.append(P2p_n)
    P3p_v.append(P3p_n)
    FTp_v.append(FT_n)
    eFGp_v.append(eFGp_n)
    PF_v.append(PF_n)
    MP_v.append(MP_n)

analysis and graphs for points per player per season

In [ ]:
yearly_df = join_df.groupby("Year", as_index=False)

In [ ]:
#yearly_mean = yearly_df[["Age", "height", "weight", "G", "PTS", "3P", "2P", "FT", "3P%", "2P%", "FT%", "eFG%", "PF", "MP"]].mean()
yearly_mean.head(33)

In [ ]:
#yearly_mean.tail(33)

In [ ]:
year_v = []
height_v = []
weight_v = []
G_v = []
PTS_v = []
P2_v = []
P3_v = []
FT_v = []
P2p_v = []
P3p_v = []
FTp_v = []
eFGp_v = []
PF_v = []
MP_v = []

for i in range(len(yearly_mean)):
    year_n = yearly_mean["Year"][i]
    height_n = yearly_mean["height"][i]
    weight_n = yearly_mean["weight"][i]
    G_n = yearly_mean["G"][i]
    PTS_n = yearly_mean["PTS"][i]
    P2_n = yearly_mean["2P"][i]
    P3_n = yearly_mean["3P"][i]
    FT_n = yearly_mean["FT"][i]
    P2p_n = yearly_mean["2P%"][i]
    P3p_n = yearly_mean["3P%"][i]
    FTp_n = yearly_mean["FT%"][i]
    eFGp_n = yearly_mean["eFG%"][i]
    PF_n = yearly_mean["PF"][i]
    MP_n = yearly_mean["MP"][i]
    
    year_v.append(year_n)
    height_v.append(height_n)
    weight_v.append(weight_n)
    G_v.append(G_n)
    PTS_v.append(PTS_n)
    P2_v.append(P2_n)
    P3_v.append(P3_n)
    FT_v.append(FT_n)
    P2p_v.append(P2p_n)
    P3p_v.append(P3p_n)
    FTp_v.append(FT_n)
    eFGp_v.append(eFGp_n)
    PF_v.append(PF_n)
    MP_v.append(MP_n)

In [ ]:
x_axis = year_v
two_points, = plt.plot(x_axis, P2_v, label = "Two Point")
three_points, = plt.plot(x_axis, P3_v, label = "Three Point")
free_throw, = plt.plot(x_axis, FT_v, label = "Free Throw")
plt.ylabel("Points")
plt.title("Average Total Points by Type per Player")
plt.grid()
plt.legend(handles=[two_points, three_points, free_throw], loc="best")
plt.savefig("Images/Avg_Yearly_Pts")
plt.show()

In [ ]:
x_axis = year_v
tot_points, = plt.plot(x_axis, PTS_v, label = "Total Points")
min_played, = plt.plot(x_axis, MP_v, label = "Minutes Played")
#games_played, = plt.plot(x_axis, G_v, label = "Games Played")
plt.ylabel("Points  /  Minutes")
plt.title("Average Total Points per Player per Season")
plt.grid()
plt.legend(handles=[tot_points, min_played], loc="best")
plt.savefig("Images/Min_Played_vs_Total_Pts")
plt.show()

In [ ]:
import seaborn as sns